html{
	height: 100%;
}

body{
//	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: red;
}

#main_frame{
	position: absolute;
	width: 100%;
	min-height: 100%;
	background-image: url("img_grey.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

#banner, #footer{
	position: relative;	
	color: #2c3e50;
	font-weight: bold;
	font-family: DS-Digital;
	background: rgba(190,190,190,0.6); 
	background: -webkit-linear-gradient(rgba(190,190,190,0.6),rgba(230,230,230,0.6));
	
}

#shadow_up, #shadow_down{
	display: block;
	position: relative;
	top: 0px;
	background-color: red;
	height: 2%;
	width: 100%;
}

#shadow_up{
	background: linear-gradient(#d4d4d4, #f6f6f6); 
	background: -webkit-linear-gradient(#d4d4d4, #f6f6f6);
}

#shadow_down{
	background: linear-gradient(#f6f6f6, #d4d4d4); 
	background: -webkit-linear-gradient(#f6f6f6, #d4d4d4);
}

#footer{
//	width: 100%;
//	height: 100%;
	padding-right: 2%;
}

#ban{
	margin:0 auto;
	text-align:left;
	border-width:0 5px 5px 0;
	border-style:solid;
	border-color:#eee;
}

#title{
	left:1%;
	position: relative;
	display: inline-block;
	font-size: 200%;
}
#version{
	left:1%;
	position: relative;
	display: inline-block;
	font-size: 100%;
}
#hour{
	right:1%;
	position: relative;
	display: block;
	font-size: 200%;
}

#calendar {
	display: block;
	position: relative;
	width: 50%;
	color: #686868;
}

#info {
	/*height: 80%; */
	width: 100%; 
	/*position: absolute;
	 left: 0px; */
	/*bottom: 15px; /* for test only */
	color: #2c3e50;/* #686868; */
	display: block;
	font-family: DS-Digital;
	font-size: 200%;
	background: rgba(190,190,190,0.6); 
	background: -webkit-linear-gradient(rgba(190,190,190,0.6),rgba(230,230,230,0.6));
}

#nota{
	height:90%;
	width:98%;
	position: relative;
	display: block;
	border: none;
	background: none;
	font-family: Aller Light;
	font-size: 100%;
	-webkit-animation: nota 20s linear infinite;
}

@-webkit-keyframes nota {
    0%{text-indent:100%;}
    100% {text-indent:-100%;}
}
